// Colors
$slider-line-color: #c0c0c0; // TODO: сразу еще до пуша заменить на цвета в проекте
$slider-line-bar-color: #2962ff;
$slider-button-color: #2962ff;
$slider-button-hover-color: #2962ff;
$slider-button-pressed-color: #2962ff;

// Sizes
$slider-line-height: 2px;
$slider-line-bar-height: 2px;
$slider-button-visible-size: 13px;
$slider-button-ripple-size: 32px;
