@import '../../../../assets/styles/dependencies';

:host {
  width: 100%;
  background-color: $color-general;
  position: fixed;
  z-index: z(header);
}

.header {
  &, &__content {
    width: 100%;
    position: relative;
  }

  &__content {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .menu {
      width: 60%;
      font-size: $font-size + 1;
      text-align: right;

      &__item {
        display: inline-block;
        vertical-align: middle;
        font-weight: $font-weight-regular;
      }

      .menu__item + .menu__item {
        margin-left: calc(1.5em + 1vw);
      }
    }
  }
}
