<table *ngIf="layout === 'table'"
       class="table">
  <thead>
  <app-feed-table-header></app-feed-table-header>
  </thead>
  <tbody>
  <ng-container *ngIf="data && data.length">
    <tr *ngFor="let row of data">
      <app-feed-table-row
        [data]="row"></app-feed-table-row>
    </tr>
  </ng-container>
  </tbody>
</table>

<section *ngIf="layout === 'cards'">
  <ng-container *ngIf="data && data.length">
    <mat-card *ngFor="let row of data"
              class="card">
      <app-feed-table-row
        [data]="row"></app-feed-table-row>
    </mat-card>
  </ng-container>
</section>
