<tr>
  <td class="table-cell table-cell--checkbox">
    <div>
      <mat-checkbox
        [checked]="selectedIds.includes(experiment.id)"
        (change)="checkboxChanges(experiment.id)"
        color="primary"></mat-checkbox>
    </div>
  </td>
  <td class="table-cell table-cell--drug table-cell--medium">
    <div>{{experiment.intervention.drugIntervention?.drug?.name || '\t&#8212;'}}</div>
  </td>
  <td class="table-cell table-cell--sex table-cell--small">
    <div>{{experiment.sex || '\t&#8212;'}}</div>
  </td>
  <td class="table-cell table-cell--strain table-cell--medium">
    <div>{{experiment.strain.name || '\t&#8212;'}}</div>
  </td>
  <td class="table-cell table-cell--dosage">
    <div>{{experiment.intervention.drugIntervention?.dosage || '\t&#8212;'}}</div>
  </td>

  <td class="table-cell table-cell--left">
    <div>{{experiment.lifespanChangePercent.min | number: '1.0-0' || '\t&#8212;'}}%</div>
  </td>
  <td class="table-cell table-cell--center">
    <div>{{experiment.lifespanChangePercent.med | number: '1.0-0' || '\t&#8212;'}}%</div>
  </td>
  <td class="table-cell table-cell--center">
    <div>{{experiment.lifespanChangePercent.avg | number: '1.0-0' || '\t&#8212;'}}%</div>
    <div class="minus"></div>
  </td>
  <td class="table-cell table-cell--center">
    <div>{{experiment.lifespanChangePercent.max | number: '1.0-0' || '\t&#8212;'}}%</div>
  </td>

  <td class="table-cell table-cell--left">
    <div>{{experiment.lifespan.min | number: '1.0-0' || '\t&#8212;'}} {{experiment.lifespan.unit}}</div>
  </td>
  <td class="table-cell table-cell--center">
    <div>{{experiment.lifespan.med | number: '1.0-0' || '\t&#8212;'}} {{experiment.lifespan.unit}}</div>
  </td>
  <td class="table-cell table-cell--center">
    <div>{{experiment.lifespan.avg | number: '1.0-0' || '\t&#8212;'}} {{experiment.lifespan.unit}}</div>
    <div class="minus"></div>
  </td>
  <td class="table-cell table-cell--center">
    <div>{{experiment.lifespan.max | number: '1.0-0' || '\t&#8212;'}} {{experiment.lifespan.unit}}</div>
  </td>
  <td class="table-cell">
    {{ experiment.year }}
  </td>

  <td class="table-cell table-cell--row-data">
    <div>
      <a href="#"
         class="link"
         mat-icon-button
      >
        <mat-icon [inline]="true">download</mat-icon>
      </a>
    </div>
  </td>
</tr>

