@import '../../../../assets/styles/dependencies';

:host {
  display: inline-block;
}

button {
  $button-height: 40px;
  box-sizing: border-box;
  width: 100%;
  height: $button-height;
  background: $color-orange-100;
  border-radius: 10px;
  font-size: $font-size;
  color: $color-orange-900;
  text-align: center;
  line-height: $button-height + 1;
  font-weight: $font-weight-medium;
  padding: 0 10px;
}
