@import '../assets/styles/dependencies';

.grid-container {
  padding: #{$header-height + 50px} 20px 0 20px;
  display: grid;
  grid-gap: 10px;

  @include resolution_desktop-and-up {
    grid-template-columns: 264px auto;
    grid-template-areas: "sidebar content";
  }

  @include resolution_smartphone-and-tablet {
    grid-template-columns: 100%;
    grid-template-areas: "sidebar" "content";
  }

  &__sidebar {
    grid-area: sidebar;

    @include resolution_desktop-and-up {
      padding-right: 24px;
    }
  }

  &__content {
    grid-area: content;
  }
}
