<div class="grid-container">
  <div class="grid-container__sidebar">
    <app-filter-panel
      *ngIf="filtersOptions"
      [filters]="filtersOptions"
      (filterApplied)="getExperimentsData()"
    ></app-filter-panel>
  </div>
  <div class="grid-container__content">
    <div class="species__plot">
      <plotly-plot
        [data]="plotData"
        [layout]="plotLayout"
        [useResizeHandler]="true"
        [style]="{position: 'relative', width: '100%'}">
      </plotly-plot>
    </div>

    <app-organism-table
      [drugsData]="drugsData"
      [layout]="feedLayout"
      (checkedIds)="setPlotData($event)">
    </app-organism-table>
  </div>
</div>



