@import '../../../assets/styles/dependencies';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: $font-size + 10px;
  color: $color-orange-500;
}

.menu {
  margin-top: 30px;

  &__item {
    font-size: $font-size + 1px;

    & > a {
      display: inline-block;
      width: 100%;
      padding: 8px 20px;
      color: $color-gray-700;
    }
  }

  .menu__item + .menu__item {
    border-top: 1px solid $color-borders;
  }
}
