<h1>LISC</h1>
<p>
  The idea is to host in a uniform format not only drugs but any sort
  of intervention/perturbation which affects not only life-span but also
  healthspan, including diets, lightcycles, etc.
  In fact the difference across natural strains and mutants is not well
  documented ... and there are huge differences.
</p>
<app-show-more-button>Read the full article</app-show-more-button>

<ng-content></ng-content>

<ul class="menu">
  <li class="menu__item">
    <a [routerLink]="'/summary'"
       routerLinkActive="current"
    >Summary</a>
  </li>
</ul>


