<tr class="table-header">
  <th class="table-cell table-cell--checkbox">
    <div>
      <mat-checkbox
        [checked]="selectAll"
        (change)="checkboxChanges($event)"
        color="primary"></mat-checkbox>
    </div>
  </th>
  <th class="table-cell table-cell--drug">
    <div>Drug</div>
  </th>
  <th class="table-cell table-cell--sex">
    <div>Sex</div>
  </th>
  <th class="table-cell table-cell--strain">
    <div>Strain</div>
  </th>
  <th class="table-cell table-cell--dosage">
    <div>Dosage</div>
  </th>
  <th class="table-cell table-cell--medium">
    <div>Med lifespan change(%)</div>
  </th>
  <th class="table-cell table-cell--maximum">
    <div>Max lifespan change(%)</div>
  </th>
  <th class="table-cell table-cell--average">
    <div>Avg lifespan change(%)</div>
  </th>
  <th class="table-cell table-cell--row-data">
    <div>Row data</div>
  </th>
  <th class="table-cell table-cell--group">
    <div>Group</div>
  </th>
  <th class="table-cell table-cell--temp">
    <div>t°</div>
  </th>
</tr>
