@import "../../../../../../assets/styles/dependencies";

:host {
  display: contents;
}

@include table-cell;

.table-header {
  .table-cell {
    position: relative;
    color: $color-gray-700;
    border-width: 2px;

    & > div {
      padding-top: 1.5ch;
    }

    &--outset {
      span {
        position: absolute;
        top: 0;
        white-space: nowrap;
      }
    }
  }
}

