<tr class="table-header">
  <th class="table-cell table-cell--checkbox">
    <div>
      <mat-checkbox
        [checked]="selectAll"
        (change)="checkboxChanges($event)"
        color="primary"></mat-checkbox>
    </div>
  </th>
  <th class="table-cell table-cell--drug">
    <div>Drug</div>
  </th>
  <th class="table-cell table-cell--sex">
    <div>Sex</div>
  </th>
  <th class="table-cell table-cell--strain">
    <div>Strain</div>
  </th>
  <th class="table-cell table-cell--dosage">
    <div>Dosage</div>
  </th>

  <th class="table-cell table-cell--left table-cell--outset">
    <div>
      <span>Lifespan change % <br></span>
      Min
    </div>
  </th>
  <th class="table-cell table-cell--center table-cell--outset">
    <div>Med</div>
  </th>
  <th class="table-cell table-cell--center table-cell--outset">
    <div>Avg</div>
  </th>
  <th class="table-cell table-cell--center table-cell--outset">
    <div>Max</div>
  </th>

  <th class="table-cell table-cell--left table-cell--outset">
    <div>
      <span>Lifespan <br></span>
      Min
    </div>
  </th>
  <th class="table-cell table-cell--center table-cell--outset">
    <div>Med</div>
  </th>
  <th class="table-cell table-cell--center table-cell--outset">
    <div>Avg</div>
  </th>
  <th class="table-cell table-cell--center table-cell--outset">
    <div>Max</div>
  </th>
  <th class="table-cell">
    <div>Year</div>
  </th>

  <th class="table-cell table-cell--row-data table-cell--outset">
    <div class="__nowrap">Raw data</div>
  </th>
</tr>
