@import "../../../../assets/styles/dependencies";

.filters-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
  min-width: 0;

  &__select,
  &__slider {
    width: 100%;
    font-size: 11px; // regulates material elements size
  }

  &__select {
    ::ng-deep {
      @include mat-select-style;
    }
  }

  &__slider {
    margin-bottom: 18px;

    & > label {
      color: $color-gray-800;
      font-size: 1.2em;
    }

    .slider__range-wrapper {
      width: auto;
      max-width: 100%;
      box-sizing: border-box;
      $slider-outset: 13px;
      padding: 0 #{$slider-outset / 2};
    }

    .slider__fields-row {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      .field {
        width: 3.2em;
        height: 2em;
        padding: 0;
        text-align: center;
        background-color: $color-gray-200;
        border-radius: $border-radius-s;
      }
    }
  }
}

::ng-deep {
  .mat-select-panel-wrap {
    .mat-select-panel {
      min-width: 100% !important;
      margin-top: 10px;
      margin-left: 5px;
    }
  }
}
