<form class="filters-panel" [formGroup]="filtersForm">
   <div class="filters-panel__filter">
     <mat-form-field appearance="fill">
       <mat-label>Intervention type</mat-label>
       <mat-select formControlName="interventionTypeSelect"
                   [(ngModel)]="predefinedInterventionTypes"
                   [compareWith]="compareSelectValues"
                   (selectionChange)="apply('byInterventionType', $event)">
         <mat-option [value]="">not set</mat-option>
         <mat-option *ngFor="let i of interventionTypes"
                     [value]="i.name">{{ i.name }}</mat-option>
       </mat-select>
     </mat-form-field>
   </div>
</form>
