@import "../../../../assets/styles/dependencies";

.filters-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
  min-width: 0;

  &__filter {
    width: 100%;
    margin-right: 20px;
    ::ng-deep {
      @include mat-select-style;
    }
  }
}

::ng-deep {
  .mat-select-panel-wrap {
    .mat-select-panel {
      min-width: 100% !important;
      margin-top: 10px;
      margin-left: 5px;
    }
  }
}
