@import '../../../../assets/styles/dependencies';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: $font-size + 10px;
  color: $color-orange-500;
}

.menu {
  display: block;
  margin-top: 30px;

  &__item {
    display: list-item;
    font-size: $font-size + 1px;
    border-top: 1px solid $color-borders;

    & > a {
      display: inline-block;
      width: 100%;
      padding: 8px 0;
      color: $color-gray-700;
    }

    &:last-child {
      border-bottom: 1px solid $color-borders;
    }
  }
}
